$sidebar-w: 400px

.header-responsive
	@include transition(all .4s)
	position: fixed
	top: 0
	left: 0
	height: 100vh
	background-color: white
	box-shadow: $shadow
	z-index: 1000
	overflow: hidden
	overflow: -moz-scrollbars-none
	overflow-y: scroll
	width: 100%
	max-width: 400px
	&--display
		left: 0
	&--hide
		left: -430px
	&::-webkit-scrollbar
		display: none 
	.li-niveau1 
		margin: 0px -5px
	
	#adtm_menu .adtm_column ul.adtm_elements li a
		padding: 5px 0 5px 10px

	#adtm_menu ul#menu 
		position: relative
		left: 5px
		li div.adtm_sub
			position: static
			max-height: 0
			overflow: hidden
			min-height: 0
			transition: .4s
		.li-niveau1:hover div.adtm_sub
			max-height: 1000px

	#menu-close
		position: absolute
		top: 20px
		right: 20px
		font-size: 25px
		padding: 10px
		z-index: 2

	.main-menu
		&__item 
			padding: $pad-normal 0

@media screen and (min-width: $break-point-1)
	.header-responsive
		left: -430px