=menu_color_section ($bg, $color)
	div.adtm_sub
		background: $bg
		.adtm_column_wrap span.column_wrap_title, .adtm_column_wrap span.column_wrap_title a, .adtm_column_wrap a
			color: $color


.header-bottom
	height: 90px
	display: block
	padding-top: 85px
	box-sizing: content-box

	.main-menu
		height: 90px
		display: flex
		justify-content: space-between
		&__item
			max-width: 175px
			text-align: center
			background-color: red
			padding: 0
			flex: 2
			color: white
			display: flex
			justify-content: center
			flex-direction: column
			box-shadow: $shadow
			&--small
				flex: 1
			&--home
				background-color: white
			&:nth-child(1)
				flex: 1
				background-color: transparent
				box-shadow: none
				a 
					color: $orange

			&:nth-child(2)
				@include menu_color_section($purple, white)
			&:nth-child(3)
				@include menu_color_section($blue, white)
			&:nth-child(4)
				@include menu_color_section($green, white)
			&:nth-child(5)
				@include menu_color_section($purple2, white)
			&:nth-child(6)
				@include menu_color_section($blue2, white)
			&:nth-child(7)
				@include menu_color_section($green2, white)

		&__link
			padding: 20px
			text-decoration: none
			color: white
			font-weight: 600
			&:hover
				color: white
	

	
	#adtm_menu ul#menu li.li-niveau1
		.advtm_menu_span
			margin: 0

		div.adtm_sub
			top: 85px
			width: 99.5%
			border: 0
			box-shadow: none
			padding: 30px 50px
			.adtm_column_wrap
				padding: 10px 30px 30px 30px !important
				span.column_wrap_title
					font-size: 19px
				a
					font-size: 14px


		&:nth-child(3)
			@include menu_color_section($purple, white)
		&:nth-child(4)
			@include menu_color_section($blue, white)
		&:nth-child(5)
			@include menu_color_section($green, white)
		&:nth-child(6)
			@include menu_color_section($purple2, white)
		&:nth-child(7)
			@include menu_color_section($blue2, white)
		&:nth-child(8)
			@include menu_color_section($green2, white)	




@media screen and (max-width: $break-point-1)
	.header-bottom
		display: none

