body
	font-family: "Open Sans"
#wrapper
	margin-top: 85px

.underline
	text-decoration: underline

.inline
	display: inline-block

.sr-only
	visibility: hidden
	font-size: 0

.cart-preview

.float-left
	float: left
.float-right
	float: right
.text-center
	text-align: center

// Content 
p 
	font-size: 14px
	font-weight: 400


// Titles
.title
	&--big
		font-size: 55px
		color: black
		font-weight: 700
		margin-bottom: $pad-medium



$keys: ('small', 'normal', 'medium', 'big')
$direction: ('top', 'right', 'left', 'bottom')
$values: ($pad-small, $pad-normal, $pad-medium, $pad-big)
@for $i from 1 to 5
	.padding-#{nth($keys, $i)}
		padding: nth($values, $i)
	.margin-#{nth($keys, $i)}
		margin: nth($values, $i)
	@for $j from 1 to 5
		.padding-#{nth($direction, $j)}-#{nth($keys, $i)}
			padding-#{nth($direction, $j)}: nth($values, $i)
		.margin-#{nth($direction, $j)}-#{nth($keys, $i)}
			margin-#{nth($direction, $j)}: nth($values, $i)

@media screen and (max-width:$break-point-1)
	.hidden-sm
		display: none
	.no-marge-sm
		margin: 0 !important
	
	.title
		&--big
			font-size: 35px

