body
	font-family: "Open Sans"

.underline
	text-decoration: underline

.inline
	display: inline-block

.sr-only
	visibility: hidden
	font-size: 0

.link-invisible
	text-decoration: none
	color: black

.cart-preview

.clr
	clear: both

.float-left
	float: left
.float-right
	float: right
.text-center
	text-align: center

// Content 
p 
	font-size: 14px
	font-weight: 400

.section
	margin: $pad-big 0

.container-w
	width: 1300px
	margin: auto

.pad-container
	padding-left: 70px

.pagination
	width: 100%

// Titles
.title
	&--big
		font-size: 55px
		color: black
		font-weight: 700
		margin-bottom: $pad-medium
	&--section
		font-size: 45px
		color: black
		font-weight: 700
		margin-bottom: $pad-normal
		line-height: 35px


$keys: ('small', 'normal', 'medium', 'big')
$direction: ('top', 'right', 'left', 'bottom')
$values: ($pad-small, $pad-normal, $pad-medium, $pad-big)
@for $i from 1 to 5
	.padding-#{nth($keys, $i)}
		padding: nth($values, $i)
	.margin-#{nth($keys, $i)}
		margin: nth($values, $i)
	@for $j from 1 to 5
		.padding-#{nth($direction, $j)}-#{nth($keys, $i)}
			padding-#{nth($direction, $j)}: nth($values, $i)
		.margin-#{nth($direction, $j)}-#{nth($keys, $i)}
			margin-#{nth($direction, $j)}: nth($values, $i)

@media screen and (max-width:$break-point-1)
	.hidden-sm
		display: none
	.no-marge-sm
		margin: 0 !important
	
	.title
		&--big
			font-size: 35px

