.custom-radio {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: $gray 2px solid;
  background: white;
  margin-right: 1.25rem;
  input[type="radio"] {
    opacity: 0;
    cursor: pointer;
  }
  input[type="radio"] {
    &:checked + span {
      display: block;
      background-color: $brand-primary;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      top: 2px;
    }
    &:focus + span {
      border-color: $gray;
    }
  }
}

.input-group {
  &.focus {
    outline: 0.1875rem solid $brand-primary;
  }
  .form-control:focus {
    outline: none;
  }
  .input-group-btn {
    height: 100%;
    > .btn {
      border: 0;
      box-shadow: none;
      color: #ffffff;
      font-size: 0.6875rem;
      font-weight: normal;
      margin-left: 0;
      padding: 0.625rem 1rem;
      text-transform: uppercase;
      &[data-action="show-password"]{
        background: $gray;
        height: 100%;
        min-height: 34px;
        font-size: 12px;
      }
    }
  }
}


.custom-checkbox {
  label, .label {
    text-align: left;
    display: inline;
  }

  // Checkbox material-icon after input[type="checkbox"]
  input[type="checkbox"] ~ span .fa-check-square-o {
    display: none;
  }
}

