.arianne
	background-color: transparent
	margin: $pad-normal $pad-small

	&__item
		display: inline-block
		&:last-child
			font-weight: 700
			.arianne__separator	
				display: none

	&__separator
		display: inline-block
		margin: 0 $pad-small/2