.btn
	border: 1px solid black
	color: black
	display: inline-block
	padding: $pad-small
	font-weight: 600
	box-sizing: border-box
	text-decoration: none
	border-radius: 0
	min-width: 45px
	min-height: 45px

	a 
		text-decoration: none
	
	&--green 
		color: $green
		border-color: $green
	
	&--orange
		color: $orange
		border-color: $orange
	
	&--blue
		color: $blue
		border-color: $blue
	
	&--no-border
		border-width: 0
	
	&--size
		&-sm
			font-size: $font-normal
		&-md
			font-size: $font-medium
		&-xl
			font-size: $font-big
	
	&--fa i 
		margin-right: $pad-small
		font-size: 20px
