.cart
	&__title
		margin: 0 0 $pad-normal 0
		text-transform: uppercase
		font-size: $pad-normal
		letter-spacing: 2px

	&__details
		padding: $pad-normal
		box-shadow: $shadow

	&__continue
		color: black
		text-decoration: none
		padding: 5px $pad-small
		margin: $pad-small
		display: block
		.fa 
			margin-right: $pad-small

	&__shipping

	&__summary
		padding: $pad-normal
		box-shadow: $shadow


.cart-item
	padding: 20px 0
	border-bottom: 1px solid #EEE

	&__title
		font-weight: 600
		margin-bottom: $pad-small
		a
			text-decoration: none
			color: #000

	&__info
		font-size: $font-small
		&-key
		&-value

	&__remove
		font-size: $font-medium-big
		color: black
		text-decoration: none
		@include transition(.3s)
		&:hover 
			color: $red

	// Override product block
	.product__price
		font-size: $font-medium