.checkout
	margin-top: $pad-medium
	&__container
		box-shadow: $shadow
		padding-bottom: $pad-normal
	
	&__section
		padding: 30px 20px 30px
		border-bottom: 1px solid #DDD
		margin-bottom: 0

	&__summary
		box-shadow: $shadow
		padding: 30px 20px 30px
		.card 
			box-shadow: none
		.cart-total .value
			font-weight: 700
			font-size: $font-medium
			margin-left: $pad-normal

	.cart-summary-products
		color: grey

	&__edit
		font-size: $font-small
		right: $pad-medium
		position: absolute
		display: inline-block

	&__title
		margin-top: 0
		font-size: $font-medium-big
		.fa-check
			font-size: 15px
			margin-top: 7px

	&__unreachable
		padding: 15px $pad-normal
		border-bottom: 1px solid #DDD
		.checkout__title
			margin-bottom: 0

	.nav-item
		display: inline-block
		margin-top: $pad-small
		&.active 
			.btn--grey-orange
				background-color: $orange

	form button.btn
		height: 34px
		min-height: 34px
		padding: 2px 20px

	.custom-checkbox
		display: inline-block
		.material-icons
			display: none
		label
			display: inline
			font-weight: 400

	.form-footer
		margin-top: $pad-medium

	.js-visible-password ~ .input-group-btn
		display: none
	.js-parent-focus
		width: 100%
	
	.address-selector
		display: flex
		flex-wrap: wrap
		.address-item
			padding: $pad-small
			display: inline-block
			border: 1px solid #DDD
			flex: 1
			min-width: 250px
			margin-top: $pad-small
			max-width: 300px
			margin-right: $pad-small



	#checkout-delivery-step
		.delivery-option
			height: auto
			border-bottom: 1px solid #DDD
			padding: $pad-normal 0
			box-sizing: content-box

		.order-options
			margin: $pad-normal 0
			label
				margin-bottom: $pad-small



/**** ORDER CONFIRMATION *****/
.page-order-confirmation 
	#order-details 
		padding-left: $large-space
		& > .card-title 
			margin-bottom: $large-space

		ul
			margin-bottom: $medium-space
		li
			margin-bottom: $small-space

	#order-items 
		border-right: $gray-light 1px solid
		hr 
			border-top-color: $gray-darker
	  
		table 
			width: 100%
			tr 
				height: $large-space
			td 
				&:last-child 
					text-align: right

		.order-line 
			margin-top: 1rem
	
		.image 
			img 
				width: 100%
				border: 1px solid gray-lighter
				margin-bottom: 1rem

		.details 
			margin-bottom: 1rem
		.customizations 
			margin-top: 0.625rem
		.qty 
			margin-bottom: 1rem
	
	
	#order-confirmation 
		#registration-form 
			width: 50%
			margin: 0 auto 1rem
	
	

