$categories: ( 'confort_quotidien': $purple, 'hygienesoin': $blue, 'mobilite': $green, 'professioneldesante': $purple2, 'incontinence': $blue2, 'complementsalimentaires': $green2 )

@each $category, $i in $categories
	.category_#{$category}
		.color-heritance
			color: $i !important
		.border-heritance
			border-color: $i !important
		.bg-hover-heritance
			transition: .4s ease-in
			background-color: transparent !important
			&:hover 
				background-color: $i !important
				.color-heritance
					color: white !important


