.modal
	&-title
		margin: 0
		line-height: 1.42857
		font-size: 15px
		.material-icons
			float: left
			margin-right: 10px
			margin-top: -2px
	&-body
		padding: 20px 20px 40px 20px
		figure img 
			width: 100%

	.product-image
		width: 100%