.product
	background-color: #FFF
	position: relative
	
	.qty .input-group.bootstrap-touchspin .input-group-btn-vertical
		display: flex
		flex-direction: column
		height: 45px
		.btn-touchspin
			flex: 1
			
	&-quantity
		#quantity_wanted
			padding-right: 30px

	// Default settings ( Product detail )
	&__img
		display: block

	&__item-block
		position: static
	
	&__ref 
		font-weight: 600
		margin-bottom: $pad-normal

	&__discount
		position: absolute
		top: 15px
		left: 25px
		width: $pad-big
		height: $pad-big
		background-color: $orange
		color: white
		font-weight: 800
		display: flex
		text-align: center
		flex-direction: column
		justify-content: center
		border-radius: 100%
		@include transform(rotate(-20deg))
		&--light
			background-color: $orange
			color: white
			font-weight: 800
			padding: 5px $pad-small

	&__title
		font-size: $font-big
		font-weight: 800
		font-family: Poppins
		a
			text-decoration: none
			color: #000
	
	&__tax-container
		display: none

	&__price
		color: $red
		font-size: $font-medium-big
		font-weight: 600
		&--old
			text-decoration: line-through
			color: $red
		&--reduce
			color: $orange
		&-container
			display: inline-block
			&.has-discount .product__price
				color: $orange

		&--inline
			display: inline-block

	&__flags
		display: none
	&__flag
		display: none
		
	&--border
		border-width: 1px
		border-style: solid

	// Product mignature
	&--miniature
		text-align: center
		padding: $pad-normal 5px
		min-height: 300px
		margin-bottom: $pad-normal

		.product
		
			&__thumbnail
				max-width: 60%
				max-height: 120px
				margin: auto
		
			&__title
				font-size: $font-medium
				min-height: 50px
				
		
			&__price
				font-size: $font-medium
				&--old 
					font-size: $font-small
	

	// Product list item
	&--list-item
		text-align: left
		margin-bottom: $pad-normal
		border: 1px solid black

		.product
			
			&__thumbnail
				margin: auto
				display: block
				max-height: 200px
				max-width: 100%
				&-container
		
			&__container
				padding: 20px 0

			&__title
				font-size: $font-medium
				margin-top: 0
	
			&__price
				font-size: $font-medium-big
				&--old 
					font-size: $font-normal
					margin-right: $pad-small


@media screen and (max-width: 768px) 
	.product--list-item
		.product
			&__item-block
				padding: 20px 52px
			&__title
				border-top: 1px solid grey
				margin-top: 10px
				padding-top: 20px